#full{
    display: flex;
    flex-direction:rows;
    margin: 20px;
}
#left{
    display:flex;
    flex-direction: column;
}
#right{
    display:flex;
    flex-direction: column;
}
#photo{
    position: relative;
}
#ui{
    background-color: #ffde33;
    position: absolute;
    width: 150px;
    height: 16px;
    padding: 9px 3px;
    text-align: center;
    left: 69px;
    top: 303px;
 
}
#edu{
    background-color: black;
    height: 226px;
    margin-top: -2%;
    color: white;
    padding-top: 53px;
    padding-left: 41px;
}
.smalline{
    border-top: 4px solid #ffde33;
    width: 26px;
    margin-top: 20px;
}
.major{
    padding-top: 24px;
}
#expertise{
    background-color: rgba(187,187,187,255);
    height: 435px;
    margin-top: -2%;
    color: black;
    padding-top: 32px;
    padding-left: 41px;
}
.exp{
    margin-top:20px
}
.main{
    display: flex;
    flex-direction:rows;
}
#l1{
    border-top: 4px solid #ffde33;
    width: 86px;
    margin-top: 53px;
    margin-left: 27px;
}
.l6{
    border-top: 4px solid black;
    width: 20px;
    margin-top: -4px;
    margin-left: 66px;
}
 
#l2{
    border-top: 4px solid #ffde33;
    width: 86px;
    margin-top: 36px;
    margin-left: 27px;
}
#l3{
    border-top: 4px solid #ffde33;
    width: 86px;
    margin-top: 36px;
    margin-left: 27px;
}
.l7{
    border-top: 4px solid black;
    width: 20px;
    margin-top: -4px;
    margin-left: 66px;
}
.l8{
    border-top: 4px solid black;
    width: 24px;
    margin-top: -4px;
    margin-left: 62px;
 
}
.l9{
    border-top: 4px solid black;
    width: 24px;
    margin-top: -4px;
    margin-left: 62px;
 
}
#l4{
    border-top: 4px solid #ffde33;
    width: 86px;
    margin-top: 36px;
    margin-left: 27px;
}
#l5{
    border-top: 4px solid #ffde33;
    width: 86px;
    margin-top: 36px;
    margin-left: 27px;
}
.l10{
    border-top: 4px solid black;
    width: 29px;
    margin-top: -4px;
    margin-left: 57px;
 
}
#details{
    display: flex;
    flex-direction:rows;
    margin-top: 30px;
}
#png{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    background-color: #ffde33;
    width:35px;
    height: 151px;
    text-align: center;
}
#det{
    padding-left:15px ;
   
}
.bg{
    background-color: rgba(187,187,187,255) ;
    width: 500px;
    height: 300px;
    padding-left: 25px;
}
 
